{%- macro nfs_client_selector(client) -%}
{%- if client.type | default('') in ['hostgroup', 'netgroup'] -%}
@{{ client.value }}
{%- else -%}
{{ client.value }}
{%- endif -%}
{%- endmacro -%}
{% if nfs_selected_server.shares | default([]) | length > 0 %}
{% set root_share = nfs_selected_server.shares | first %}
{% for client in root_share.export.clients %}
{{ nfs_pseudo_root }} {{ nfs_client_selector(client) }}(ro,sync,root_squash,sec=krb5i,fsid=0,crossmnt)
{% endfor %}
{% endif %}
{% for share in nfs_selected_server.shares | default([]) if share.state | default('present') == 'present' %}
{% for client in share.export.clients %}
{{ share.source_path }} {{ nfs_client_selector(client) }}({{ share.export.options | join(',') }})
{% endfor %}
{% endfor %}
